@use '../../../../node_modules/sass-basis/src/css/core';

.c-copyright {
  @include core.set-font-size-level(-1);
  padding: var(--_padding1) 0 var(--_padding2);
  color: var(--_color-gray);

  a {
    color: inherit;
  }
}
