@use '../../../../node_modules/sass-basis/src/css/core';

.c-drawer {
  $item-padding-coefficient: 1;

  background-color: var(--_color-black);
  color: white;

  a {
    color: inherit;
  }

  &__menu {
    @include core.list-unstyled();
  }

  &__item, &__subitem {
    position: relative;
  }

  &__item {
    padding: var(--_padding-1) var(--_padding1) 0;
  }

  &__submenu {
    @include core.list-unstyled();
    margin: 0 calc(var(--_padding1) * -1) 0 0;
    padding-left: 1em;
  }

  &__subitem {
    padding: var(--_padding-1) var(--_padding1) 0 0;
  }

  &__toggle {
    position: absolute;
    inset: var(--_s-1) 5px 0 auto;
    @include core.square(var(--_global--line-height));
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
