@use '../../../../node_modules/sass-basis/src/css/core';

.c-section {
  padding: var(--_padding3) 0;
  @include core.set-content-level(1);

  > .c-container {
    @include core.set-content-level(1);
  }

  &--bg {
    background-color: var(--_lightest-color-gray);
    border-top: 1px solid var(--_lighter-color-gray);
    border-bottom: 1px solid var(--_lighter-color-gray);
  }

  &__title {
    @include core.set-font-size-level(4);
    margin: 0 0 var(--_margin2);
    font-weight: normal;
    text-align: center;
  }

  &--border {
    border-bottom: 1px solid var(--_lighter-color-gray);
    padding: var(--_padding2) 0;

    .c-section__h1 {
      margin: 0 0 var(--_margin2);
      @include core.set-font-size-level(3);
    }

    .c-section__h2 {
      margin: var(--_margin2) 0 var(--_margin1);
      @include core.set-font-size-level(2);
    }

    .c-section__h3 {
      margin: var(--_margin2) 0 var(--_margin1);
      @include core.set-font-size-level(2);
    }
  }
}
