<nav id="drawer-nav" class="_c-drawer__body _c-drawer__body--fixed" data-c="drawer__body" role="navigation" aria-hidden="true">
  <ul class="_c-drawer__menu">
    <li class="_c-drawer__item"><a href="/">Home</a></li>
    <li class="_c-drawer__item"><a href="getstarted.html">Get Started</a></li>
    <li class="_c-drawer__item"><a href="foundation.html">Foundation</a></li>
    <li class="_c-drawer__item"><a href="component.html">Component</a></li>
    <li class="_c-drawer__item"><a href="utility.html">Utility</a></li>
    <li class="_c-drawer__item"><a href="abstract.html">Abstract</a></li>
    <li class="_c-drawer__item"><a href="mixin.html">Mixin</a></li>
    <li class="_c-drawer__item"><a href="function.html">Function</a></li>
  </ul>
</nav>
