<nav id="drawer-nav" class="c-drawer c-drawer--fixed" role="navigation" aria-hidden="true" aria-labeledby="hamburger-btn">
  <ul class="c-drawer__menu">
    <li class="c-drawer__item"><a href="/">Home</a></li>
    <li class="c-drawer__item"><a href="https://sass-basis.github.io/basis" target="_blank">Documentation</a></li>
    <li class="c-drawer__item"><a href="https://github.com/sass-basis/basis" target="_blank">Github</a></li>
  </ul>
</nav>
