<div class="p-global-nav u-pull-right" role="navigation">
  <ul class="c-navbar c-navbar--auto">
    <li class="c-navbar__item" data-c="navbar__item"><a href="/">Home</a></li>
    <li class="c-navbar__item"><a href="https://sass-basis.github.io/basis" target="_blank">Documentation</a></li>
    <li class="c-navbar__item"><a href="https://github.com/sass-basis/basis" target="_blank">Github</a></li>
  </ul>
</div>
