<div class="p-global-nav _u-pull-right" role="navigation">
  <ul class="_c-navbar _c-navbar--auto">
    <li class="_c-navbar__item" data-c="navbar__item"><a href="/">Home</a></li>
    <li class="_c-navbar__item" data-c="navbar__item"><a href="getstarted.html">Get Started</a></li>
    <li class="_c-navbar__item" data-c="navbar__item"><a href="foundation.html">Foundation</a></li>
    <li class="_c-navbar__item" data-c="navbar__item"><a href="component.html">Component</a></li>
    <li class="_c-navbar__item" data-c="navbar__item"><a href="utility.html">Utility</a></li>
    <li class="_c-navbar__item" data-c="navbar__item"><a href="abstract.html">Abstract</a></li>
    <li class="_c-navbar__item" data-c="navbar__item"><a href="mixin.html">Mixin</a></li>
    <li class="_c-navbar__item" data-c="navbar__item"><a href="function.html">Function</a></li>
  </ul>
</div>
