<footer id="footer" class="_l-footer">
  <div class="_c-container">
    <ul class="p-social-nav">
      <li class="p-social-nav__item"><a href="https://github.com/sass-basis/" target="_blank"><i class="fa fa-github"></i></a></li>
      <li class="p-social-nav__item"><a href="https://twitter.com/inc2734/" target="_blank"><i class="fa fa-twitter"></i></a></li>
    </ul>

    <div class="p-copyright">
      Created and maintened by <a href="http://2inc.org" target="_blank">Monkey Wrench</a>
    </div>
  </div>
</footer>
