<footer id="footer" class="_l-footer">
  <div class="p-copyright">
    <div class="_c-container"> Takashi Kitajima.
      Created and maintened by <a href="http://2inc.org" target="_blank">Monkey Wrench</a>
    </div>
  </div>
</footer>
