<header id="header" class="_l-header _l-header--overlay" role="banner">
  <div class="_c-container">
    <div class="_c-row _c-row--auto _c-row--nowrap _c-row--lg-margin _c-row--middle">
      <div class="_c-row__col">
        <div class="p-site-branding">
          <h1 class="p-site-branding__title">
            <a href="/"><img src="/assets/images/logo.svg" alt="" />Basis</a>
          </h1>
        </div>
      </div>
      <div class="_c-row__col _u-hidden-sm _u-hidden-md">
        <% include ../_object/_project/_global-nav %>
      </div>
    </div>

    <div class="_c-drawer__btn _c-hamburger-btn _u-hidden-lg">
      <div class="_c-hamburger-btn__bar"></div>
      <div class="_c-hamburger-btn__bar"></div>
      <div class="_c-hamburger-btn__bar"></div>
    </div>
  </div>
</header>
