<header id="header" class="l-header" role="banner" data-l-header-type="overlay">
  <div class="c-container">
    <div class="c-row c-row--nowrap c-row--lg-margin c-row--middle">
      <div class="c-row__col c-row__col--md-1-4">
        <div class="p-site-branding">
          <h1 class="p-site-branding__title">
            <a href="/"><img src="/assets/images/logo.svg" alt="" />Basis</a>
          </h1>
        </div>
      </div>
      <div class="c-row__col c-row__col--md-3-4 u-hidden-sm u-hidden-md">
        <%- include('../_object/_project/_global-nav') %>
      </div>
    </div>

    <div id="hamburger-btn" class="c-hamburger-btn u-hidden-lg-up" data-c="drawer-btn" aria-controls="drawer-nav" aria-expanded="false">
      <div class="c-hamburger-btn__bar"></div>
      <div class="c-hamburger-btn__bar"></div>
      <div class="c-hamburger-btn__bar"></div>
    </div>
  </div>
</header>
