<header id="header" class="_l-header" role="banner" data-l="header" data-l-header-type="<% if (is_front_page) { %>overlay<% } else { %>sticky<% } %>">
  <div class="_c-container">
    <div class="_c-row _c-row--nowrap _c-row--lg-margin _c-row--middle">
      <div class="_c-row__col _c-row__col--md-1-4">
        <div class="p-site-branding">
          <h1 class="p-site-branding__title">
            <a href="/"><img src="/assets/images/logo.svg" alt="" />Basis</a>
          </h1>
        </div>
      </div>
      <div class="_c-row__col _c-row__col--md-3-4 _u-hidden-sm _u-hidden-md">
        <% include ../_object/_project/_global-nav %>
      </div>
    </div>

    <div class="_c-hamburger-btn _u-hidden-lg" data-c="drawer-btn" aria-controls="drawer-nav" aria-expanded="false">
      <div class="_c-hamburger-btn__bar"></div>
      <div class="_c-hamburger-btn__bar"></div>
      <div class="_c-hamburger-btn__bar"></div>
    </div>
  </div>
</header>
