.#{$_prefix}l-header {
  @include _transition(background-color, color);
  z-index: 1;
  background-color: transparent;
  color: _var-color-white();

  [data-scrolled="true"] & {
    background-color: _var-dark-color-text();
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  > .#{$_prefix}c-container {
    position: relative;
  }

  .p-site-branding {
    padding: ($_base-line-height / 2) 0;
  }

  .p-global-nav {
    color: _var-color-white();

    a {
      color: inherit;
    }
  }

  .#{$_prefix}c-hamburger-btn {
    position: absolute;
    top: 50%;
    right: $_base-line-height;
    transform: translateY(-50%);

    &__bar {
      background-color: _var-color-white();
    }
  }
}
