.#{$_prefix}l-header {
  transition: background-color $_transition-duration $_transition-function-timing,
              color $_transition-duration $_transition-function-timing;
  z-index: 1;
  background-color: $_color-text;

  &, a {
    color: #fff;
    text-decoration: none;
  }

  > .#{$_prefix}c-container {
    position: relative;
  }

  .p-site-branding {
    padding: ($_base-line-height / 2) 0;
  }

  .p-global-nav {
    a {
      color: #fff;
    }
  }

  .#{$_prefix}c-hamburger-btn {
    position: absolute;
    top: 50%;
    right: $_base-line-height;
    transform: translateY(-50%);

    &__bar {
      background-color: #fff;
    }
  }
}
