@use '../../../node_modules/sass-basis-layout/src/css/layout/container';

@forward 'header';
@forward 'footer';

.l-container {
  background-color: white;
  overflow: hidden;
}

.l-sub {
  padding-top: var(--_padding2);
}
