@use '../../../../node_modules/sass-basis/src/css/core';

.p-footer-nav {
  @include core.set-font-size-level(-1);

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin: 0;
    padding: 0 0 var(--_padding-1);

    a {
      text-decoration: none;
    }
  }
}
