.p-hero {
  @extend .#{$_prefix}c-hero;
  background-color: $color-primary;
  font-family: "Open sans", sans-serif;
  @include _padding(5, 0);

  &--full {
    height: 100vh;
    @include _background-image-cover();
    background-image: url(../images/photo-1431686969995-531930eb462f.jpg);
  }

  &, a {
    color: #fff;
  }

  .#{$_prefix}c-hero__header {
    @include _padding(.5, 0);
  }

  .#{$_prefix}c-hero__content {
    text-align: center;
  }

  &__title {
    @include _margin(.5, 0, 0);
    @include _font-size-line-height($_base-font-size-px * 2);
    letter-spacing: 2px;
  }

  &__version {
    @include _margin(0, 0, 1.5);
    @include _font-size-line-height($_base-font-size-px - 2);
    opacity: .8;
  }

  &__description {
    @include _margin(0, 0, 1.5);
    @include _font-size-line-height($_base-font-size-px * 3);
    font-weight: 100;
    letter-spacing: 2px;
  }
}
