@use '../../../../node_modules/sass-basis/src/css/core';

.p-hero {
  background-color: var(--color-primary);
  font-family: "Open sans", sans-serif;
  padding: var(--_padding-1) 0;
  color: white;

  &--full {
    height: 100vh;
    @include core.background-image-cover();
    background-image: url(../images/photo-1431686969995-531930eb462f.jpg);
  }

  a {
    color: inherit;
  }

  .c-hero__header {
    padding: var(--_padding-1) 0;
  }

  .c-hero__content {
    text-align: center;
  }

  &__title {
    margin: var(--_margin-1) 0 0;
    @include core.set-font-size-level(2);
    letter-spacing: 2px;
  }

  &__version {
    margin: 0 0 var(--_margin2);
    @include core.set-font-size-level(-1);
    opacity: .8;
  }

  &__description {
    margin: 0 0 var(--_margin2);
    @include core.set-font-size-level(5);
    font-weight: 100;
    letter-spacing: 2px;
  }
}
