.p-local-nav {
  @include _font-size-line-height(14px);

  a {
    color: _light($_color-text);
    text-decoration: none;

    @include _hover() {
      text-decoration: underline;;
    }
  }

  &__title {
    @include _margin(0, 0, .8);
    @include _font-size-line-height(21px);
    font-weight: normal;
  }

  &__menu {
    list-style: none;
    margin: 0;
    border-top: 1px solid #eee;
    padding: 0;
  }

  &__item {
    margin: 0;
    border-bottom: 1px solid #eee;
    @include _padding(.5, 0);
  }

  &__submenu {
    list-style: none;
    margin: 0;
    padding: 0 0 0 16px;
  }

  &__subitem {
    margin: 0;
    padding: 0;
  }
}
