@use '../../../../node_modules/sass-basis/src/css/core';

.p-scroll-top {
  position: fixed;
  bottom: 16px;
  right: 16px;
  position: fixed;
  inset: auto 1rem 1rem auto;
  color: white;

  > a {
    display: block;
    @include core.square(48px);
    overflow: hidden;
    background-color: rgba( 0, 0, 0, .8 );
    color: inherit;
    position: relative;

    > .fa {
      position: absolute;
      inset: 50% auto auto 50%;
      transform: translate(-50%, -50%);
    }
  }
}
