@use '../../core/mixin/mixin' as *;
@use '../../../../node_modules/sass-basis/src/css/core';

.p-site-branding {
  &__title {
    @include font-basis();
    @include core.set-font-size-level(4);
    margin: 0;

    img {
      margin-right: 8px;
      vertical-align: baseline;
      height: 24px;
    }
  }
}
