.p-site-branding {
  &__title {
    @include font-basis();
    @include _font-size-line-height(2);
    margin: 0;

    img {
      margin-right: 8px;
      vertical-align: baseline;
      height: 24px;
    }
  }
}
