.c-btn {
  @extend .#{$bs-prefix}c-btn;
  transition: background-color $bs-transition-duration $bs-transition-function-timing;
  border: none;
  border-radius: 3px;

  @include bs-hover() {
  }

  &--block {
    @extend .#{$bs-prefix}c-btn--block;
  }

  &--launch, &--download {
    background-color: $color-primary;
    color: #fff;

    @include bs-hover() {
      background-color: darken($color-primary, 5);
    }

    .fa {
      margin-right: 8px;
    }
  }
}
