<% var title = 'Basis : A lightweight responsive CSS framework based on flexible box ( flexbox )' %>
<% include _layout/_head %>
<body class="_l-body _c-drawer">

<% include _object/_project/_drawer %>

<div id="container" class="_l-container _l-container--overlay-header _l-container--sticky-footer">
  <% include _layout/_header %>

  <div id="contents" class="_l-contents" style="margin-top: 0">
    <main id="main" class="_l-main" role="main">

      <section class="_c-hero _c-hero--full p-hero">
        <div class="_c-hero__content">
          <div class="_c-container">
            <h1 class="p-hero__title"><img src="/assets/images/logo.svg" alt="" />Basis</h1>
            <div class="p-hero__version">
              Currently v<%= version %>　Licence MIT License
            </div>
            <div class="p-hero__description">
              A lightweight responsive CSS framework based on flexible box ( flexbox )
            </div>
            <div class="_c-row _c-row--margin-s _c-row--lg-margin">
              <div class="_c-row__col _c-row__col--1-1 _c-row__col--lg-offset-1-4 _c-row__col--lg-1-4">
                <a href="https://github.com/sass-basis/basis" target="_blank" class="_c-btn _c-btn--block _c-btn--ghost"><i class="fa fa-github"></i> View on GitHub</a>
              </div>
              <div class="_c-row__col _c-row__col--1-1 _c-row__col--lg-1-4">
                <a href="https://www.npmjs.com/package/sass-basis" target="_blank" class="_c-btn _c-btn--block _c-btn--ghost">View on npm</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="c-section">
        <div class="_c-container">
          <h1 class="c-section__title">Why it's awesome?</h1>
          <div class="_c-row _c-row--margin _c-row--md-fill">
          <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-4">
              <section class="p-media">
                <div class="p-media__body">
                  <h1 class="p-media__title">Architecture</h1>
                  <div class="p-media__content">
                    CSS architecture of Basis is <a href="https://github.com/hiloki/flocss" target="_blank">FLOCSS</a>. So it is possible a modular approach.
                  </div>
                </div>
              </section>
            </div>
            <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-4">
              <section class="p-media">
                <div class="p-media__body">
                  <h1 class="p-media__title">Vertical Rhythum</h1>
                  <div class="p-media__content">
                    Basis has incorporated the concept of vertical rhythm. So you can be a good-balanced design.
                  </div>
                </div>
              </section>
            </div>
            <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-4">
              <section class="p-media">
                <div class="p-media__body">
                  <h1 class="p-media__title">Flexible grid system</h1>
                  <div class="p-media__content">
                    Flexible grid system. Clean because using a flexible box.
                  </div>
                </div>
              </section>
            </div>
            <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-4">
              <section class="p-media">
                <div class="p-media__body">
                  <h1 class="p-media__title">highly extensible</h1>
                  <div class="p-media__content">
                    The core is only the basic components, it can be extended with <a href="https://github.com/sass-basis" target="_blank">add-on</a>.
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>

      <section class="c-section c-section--bg">
        <div class="_c-container">
          <h1 class="c-section__title">Demo</h1>
          <div class="_c-row _c-row--margin _c-row--md-fill">
            <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-3">
              <section class="p-media">
                <div class="p-media__figure">
                  <img src="http://2inc.org/wp-content/uploads/2016/05/integrity.png" alt="" />
                </div>
                <div class="p-media__body">
                  <h1 class="p-media__title _u-text-center">integrity</h1>
                  <div class="p-media__content">
                    <div class="_c-row _c-row--margin-s">
                      <div class="_c-row__col _c-row__col--1-1 _c-row__col--lg-1-2">
                        <a class="c-btn c-btn--block c-btn--launch" href="http://sass-basis.github.io/integrity/" target="_blank"><i class="fa fa-tv"></i>Launch</a>
                      </div>
                      <div class="_c-row__col _c-row__col--1-1 _c-row__col--lg-1-2">
                        <a class="c-btn c-btn--block c-btn--download" href="https://github.com/sass-basis/integrity" target="_blank"><i class="fa fa-download"></i>Download</a>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-3">
              <section class="p-media">
                <div class="p-media__figure">
                  <img src="http://2inc.org/wp-content/uploads/2016/05/improve.png" alt="" />
                </div>
                <div class="p-media__body">
                  <h1 class="p-media__title _u-text-center">improve</h1>
                  <div class="p-media__content">
                    <div class="_c-row _c-row--margin-s">
                      <div class="_c-row__col _c-row__col--1-1 _c-row__col--lg-1-2">
                        <a class="c-btn c-btn--block c-btn--launch" href="http://sass-basis.github.io/improve/" target="_blank"><i class="fa fa-tv"></i>Launch</a>
                      </div>
                      <div class="_c-row__col _c-row__col--1-1 _c-row__col--lg-1-2">
                        <a class="c-btn c-btn--block c-btn--download" href="https://github.com/sass-basis/improve" target="_blank"><i class="fa fa-download"></i>Download</a>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <div class="_c-row__col _c-row__col--1-1 _c-row__col--md-1-3">
              <section class="p-media">
                <div class="p-media__figure">
                  <img src="http://2inc.org/wp-content/uploads/2016/05/affinity.png" alt="" />
                </div>
                <div class="p-media__body">
                  <h1 class="p-media__title _u-text-center">affinity</h1>
                  <div class="p-media__content">
                    <div class="_c-row _c-row--margin-s">
                      <div class="_c-row__col _c-row__col--1-1 _c-row__col--lg-1-2">
                        <a class="c-btn c-btn--block c-btn--launch" href="http://sass-basis.github.io/affinity/" target="_blank"><i class="fa fa-tv"></i>Launch</a>
                      </div>
                      <div class="_c-row__col _c-row__col--1-1 _c-row__col--lg-1-2">
                        <a class="c-btn c-btn--block c-btn--download" href="https://github.com/sass-basis/affinity" target="_blank"><i class="fa fa-download"></i>Download</a>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </section>

    </main>
  </div>

  <% include _layout/_footer %>
</div>
<script src="/assets/js/app.js"></script>
</body>
</html>
