$color-primary: #00DAE6;
$_font-family : "Helvetica Neue", Helvetica, sans-serif;
$_color-text  : #444;
$_half-leading: 1 / 3;

@import '../../node_modules/sass-basis/src/css/basis';
@import 'core/mixin/mixin';
@import 'foundation/foundation';
@import 'layout/layout';
@import 'object/component/component';
@import 'object/project/project';
