.p-hero {
  background-color: $color-primary;
  background: linear-gradient(135deg, $color-primary 40%, darken($color-primary, 10) 100%);
  min-height: 50vh;

  &, a {
    color: #fff;
  }

  .#{$bs-prefix}c-hero__header {
    padding: ($bs-base-line-height / 2) 0;
  }

  .#{$bs-prefix}c-hero__content {
    text-align: center;
  }

  &__title {
    margin: 0 0 $bs-base-font-size;
    @include font-basis();

    > img {
      margin-right: 8px;
      vertical-align: baseline;
      height: 36px;
    }
  }

  &__version {
    @include bs-margin-bottom(1);
    @include bs-font-size-line-height(14px);
    opacity: .8;
  }

  &__description {
    @include bs-margin-bottom(1);
  }
}
