$color-primary: #00DAE6;
$color-primary: #00DAE6;
$bs-font-family: Helvetica, Arial, sans-serif;
$bs-color-text: #444;

@import '../../node_modules/sass-basis/src/scss/basis';
@import 'core/core';
@import 'foundation/foundation';
@import 'layout/layout';
@import 'object/object';



/** ==================================================
 * foundation
 * ================================================ */
.hljs, pre {
  background-color: #15191d;
}
pre {
  border: none;
}

/** ==================================================
 * Component
 * ================================================ */
/**
 * c-dummy-image
 */
.c-dummy-image {
  background-color: #333;
  width: 100px;

  &::before {
    content: '';
    display: block;
    padding-top: 75%;
  }
}

/**
 * c-animate-image
 */
.c-animate-image {
  background-color: #e74c3c;
  height: 150px;
  width: 150px;
  opacity: 1;
}
.c-animate-image:hover, .c-animate-image:active, .c-animate-image:focus {
  width: 100%;
  opacity: 0.5;
}

/**
 * c-progress-bar
 */
.c-progress-bar {
  background-color: #e74c3c;
  width: 25%;
  height: 20px;
}
.c-progress-bar:hover, .c-progress-bar:active, .c-progress-bar:focus {
  width: 100%;
}

/**
 * c-fade-image
 */
.c-fade-image {
  background-color: #e74c3c;
  height: 150px;
  width: 150px;
  opacity: 1;
}
.c-fade-image:hover, .c-fade-image:active, .c-fade-image:focus {
  opacity: 0.5;
}

/**
 * table
 */
.table {
  width: 100%;
}
.table th, .table td {
  padding: 8px;
}
.table--bordered {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.table--bordered th, .table--bordered td {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

/** ==================================================
 * project
 * ================================================ */
/**
 * p-show-grid
 */
.p-show-grid .p-show-grid__item {
  background-color: #00DAE6;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding: 16px;
}
.p-show-grid .p-show-grid__item--cloudy {
  background-color: #eee;
  color: #999;
}

/**
 * p-scroll-top
 */
.p-scroll-top {
  position: fixed;
  bottom: 16px;
  right: 16px;
}
.p-scroll-top > a {
  display: block;
  height: 48px;
  width: 48px;
  overflow: hidden;
  background-color: rgba( 0, 0, 0, .8 );
  color: #fff;
  position: relative;
}
.p-scroll-top > a > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}

/** ==================================================
 * irregular
 * ================================================ */
.github-fork-ribbon {
  background-color: #f3540c !important;
}
